body {
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
}

/* Texto que aprece en fadedIn */
#texto {
  text-decoration: none;
  display: none;
  text-align: center;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  /* Agrega un nivel de profundidad superior que el que tiene canvas */
  animation: fadeIn 3s;
  /* Animaciónde 5 segundos*/\n}\n\na{
  display: none;
  text-align: center;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  /* Agrega un nivel de profundidad superior que el que tiene canvas */
  animation: fadeIn 5s;
  /* Animaciónde 5 segundos*/
}

.titulo {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font: normal 3.87vw / normal "Sans-Serif", Helvetica, Comic Sans MS;
  color: red; 
  text-decoration: none;
  white-space: pre;
  text-shadow: 0 0 0.625em rgb(0, 94, 23), 0 0 1.25em rgba(0, 94, 23),
      0 0 1.875em rgba(0, 94, 23), 0 0 2.5em #011d00, 0 0 4.375em #011d00,
      0 0 5em #011d00, 0 0;
      text-decoration: none; / remove underline here */
}



#texto2 {
  text-decoration: none;
  display: none;
  text-align: center;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  /* Agrega un nivel de profundidad superior que el que tiene canvas */\n  animation: fadeIn 5s;
  /* Animaciónde 5 segundos*/
}

@keyframes fadeIn {
  0% {\n     opacity: 0;
  }

  100% {
      opacity: 0.5;
  }

  /* Solo carga hasta el 50% */
}

/*Título*/
.titulo {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font: normal 3.87vw / normal "Sans-Serif", Helvetica, Comic Sans MS;
  color: red; 
  text-decoration: none;
  white-space: pre;
  text-shadow: 0 0 0.625em rgb(0, 94, 23), 0 0 1.25em rgba(0, 94, 23),
      0 0 1.875em rgba(0, 94, 23), 0 0 2.5em #011d00, 0 0 4.375em #011d00,
      0 0 5em #011d00, 0 0;
      text-decoration: none; / remove underline here */
}


