* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.h1 {
  font-size: 5vw;
  text-shadow: 1200px;
  font-family: 'Lobster', cursive;
  padding: 2vw;
  text-align: center;
  background-image: linear-gradient(to right, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size: 500%;
  overflow: hidden;
  animation: fanimado 15s infinite;
}

.h2 {
  font-size: 3vw;
  text-shadow: 1200px;
  font-family: 'Arvo', serif;
  padding: 1vw;
  text-align: center;
  background-image: linear-gradient(to right, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size: 500%;
  overflow: hidden;
  animation: fanimado 15s infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.label {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.boton {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 5px;
  }
  
  .label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .boton {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 6vw;
    padding: 5vw;
  }
  
  .h2 {
    font-size: 4vw;
    padding: 2vw;
  }
  
  .container {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  
  img {
    width: 100%;
    max-width: 280px;
    object-fit: fill;
    object-position: center;
    padding: 2vw;
    box-shadow: 5px 5px 5px #252A2E;
  }
}

@media only screen and (min-width: 768px) {
  img {
    width: 80%;
    max-width: 435px;
    object-fit: fill;
    object-position: center;
    padding: 2vw;
    box-shadow: 5px 5px 5px #252A2E;
  }
}

footer {
  background-color: #252A2E;
  color: #fff;
  padding: 5vw 0 3vw 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

footer .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgb(255, 115, 0);
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  line-height: 4vw;
  margin: 1vw;
  font-size: 2vw;
  transition: .3s;
}

footer .arriba {
  display: block;
  width: 5vw;
  height: 5vw;
  background-color: #73ff00;
  color: rgb(36, 3, 3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2.5vw;
  border-radius: 50-size: 18px;
}

img:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05) rotate(-1.2deg);
  transition: 0.6s ease-out;
  filter: grayscale(0.9);
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#btn-mas {
  z-index: 1;
  display: none;
}

.burbujas {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.redes a,
.icon-mas2 {
  z-index: 1;
  display: block;
  text-decoration: none;
  background: #07242b;
  color: #ffffff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}

.redes a:hover {
  z-index: 1;
  background: #fff;
  color: #07242b;
}

.redes a {
  z-index: 1;
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked~.redes a {
  z-index: 1;
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.icon-mas2 {
  z-index: 1;
  cursor: pointer;
  background: #07242b;
  font-size: 23px;
}

#btn-mas:checked~.btn-mas .icon-mas2 {
  z-index: 1;
  transform: rotate(137deg);
  font-size: 25px;
}

.p1 {
  text-decoration: none;
  font-family: 'Work Sans';
  color: beige;
}

.p2{
    font-size: 12px;
    text-decoration: none;
    font-family: 'Work Sans';
    color: beige;
}

@media only screen and (max-width: 768px) {
  footer .redes {
    flex-wrap: wrap;
  }
  
  footer .redes a {
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    margin: 1vh;
    font-size: 4vw;
  }
  
  footer .arriba {
    display: none;
  }
  
  .p1 {
    font-size: 3vw;
  }
  
  .p2 {
    font-size: 2vw;
  }

  .btn-mas {
    display: flex;
    justify-content: center;
  }

  .redes a, .icon-mas2 {
    width: 8vw;
    height: 8vw;
    line-height: 8vw;
    font-size: 3.5vw;
  } 

  img:hover {
    transform: scale(1.05);
  }
}